.icon {
  width: 20px;
  height: 20px;
}

.contactField {
  display: flex;
  gap: 8px;
  padding: 4px;
  font-size: 16px;
}

.nameNumber {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contactCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  width: 360px;
}

.btn {
  display: flex;
  gap: 8px;
  cursor: pointer;
  background-color: lightgrey;
  color: black;
  padding: 10px;
  border-radius: 4px;
  margin: 0;
}
