body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  font-weight: 700;
  background-color: darkgrey;
}

button:hover,
button:focus {
  color: blue;
  background-color: lightgrey;
}

input {
  padding: 4px;
  border: 1px solid grey;
  border-radius: 8px;
  margin-top: 5px;
}
